/************************** 

    CUSTOM STYLE for
    
    Milena Baeza's website

***************************/
/* UTILS */
/* Variables */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif:400i");
/* Mixins */
/* Classes */
.bottom-shadow {
  box-shadow: 0px 3px 5px grey;
  -webkit-box-shadow: 0px 3px 5px grey;
  -moz-box-shadow: 0px 3px 5px grey; }

/* COMPONENTS */
/* Toggle */
.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s; }

.c-hamburger:focus {
  outline: none; }

.c-hamburger span {
  display: block;
  position: absolute;
  top: 23px;
  left: 9.3px;
  right: 9.3px;
  height: 3px;
  background: #181517; }

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #181517;
  content: ""; }

.c-hamburger span::before {
  top: -10px; }

.c-hamburger span::after {
  bottom: -10px; }

.c-hamburger--htx {
  background-color: white; }

.c-hamburger--htx span {
  transition: background 0s 0.3s; }

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s; }

.c-hamburger--htx span::before {
  transition-property: top, transform; }

.c-hamburger--htx span::after {
  transition-property: bottom, transform; }

.c-hamburger--htx.is-active {
  background-color: white; }

.c-hamburger--htx.is-active span {
  background: none; }

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg); }

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg); }

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s; }

/* LAYOUT */
/* Header */
.header {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 50px;
  background-color: white;
  font-size: 22px;
  line-height: 50px;
  transition: box-shadow 300ms; }
  .header .header__nav a.header__nav__author {
    font-family: Noto serif, serif;
    font-weight: 400;
    font-size: 26px;
    color: #181517;
    width: 200px;
    float: left;
    padding: 0 7px 0 7px;
    text-align: center;
    text-decoration: none;
    transition: 300ms; }
  .header .header__nav a.header__nav__author:hover {
    color: white;
    background-color: #181517; }
  .header .header__nav a.header__nav__author:active {
    background-color: white;
    color: #181517; }
  .header .header__nav .header__nav--toggle {
    float: right;
    display: none; }
  .header .header__nav__menu {
    float: right; }
    .header .header__nav__menu ul {
      padding-right: 7px; }
      .header .header__nav__menu ul li {
        display: inline;
        margin: 0 5px;
        padding: 10px; }
        .header .header__nav__menu ul li a:link {
          text-decoration: none;
          color: #181517;
          border-bottom: solid 2px transparent;
          transition: 300ms; }
        .header .header__nav__menu ul li a:visited {
          color: #181517; }
        .header .header__nav__menu ul li a:hover {
          border-bottom: solid 2px #181517; }
        .header .header__nav__menu ul li a:active {
          background-color: white;
          color: #181517; }

@media screen and (max-width: 680px) {
  .header div.header__nav__menu {
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    display: none; }
  .header__nav__menu ul.header__nav__menu__links li {
    display: block;
    text-align: right;
    padding: 0 5px 0 0; }
  .header nav.header__nav button.header__nav--toggle {
    display: block; } }

/* Grid System */
.row:before,
.row:after {
  content: " ";
  display: table; }

.row:after {
  clear: both; }

.column {
  position: relative;
  float: left;
  display: block; }

.column + .column {
  margin-left: 1.6%; }

.column-1 {
  width: 6.86666666667%; }

.column-2 {
  width: 15.3333333333%; }

.column-3 {
  width: 23.8%; }

.column-4 {
  width: 32.2666666667%; }

.column-5 {
  width: 40.7333333333%; }

.column-6 {
  width: 49.2%; }

.column-7 {
  width: 57.6666666667%; }

.column-8 {
  width: 66.1333333333%; }

.column-9 {
  width: 74.6%; }

.column-10 {
  width: 83.0666666667%; }

.column-11 {
  width: 91.5333333333%; }

.column-12 {
  width: 100%;
  margin-left: 0; }

@media screen and (max-width: 680px) {
  .column-1,
  .column-2,
  .column-3,
  .column-4,
  .column-5,
  .column-6,
  .column-7,
  .column-8,
  .column-9,
  .column-10,
  .column-11,
  .column-12 {
    float: none;
    width: auto; }
  .column + .column {
    margin-left: 0; } }

.container {
  padding: 20px; }

.column {
  padding: 5px;
  min-height: 30px; }

.row {
  margin-bottom: 10px; }

.row:last-child {
  margin-bottom: 0; }

@media screen and (max-width: 680px) {
  .row {
    margin-bottom: 0; }
  .column {
    margin-bottom: 10px; }
  .row:last-child .column:last-child {
    margin-bottom: 0; } }

/* Footer */
.footer {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("/assets/background02.jpg") no-repeat;
  background-attachment: fixed;
  background-position: bottom center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: white;
  height: 80px; }

/* PAGES */
/* Hero */
.hero {
  background: url("/assets/background02.jpg") no-repeat;
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh; }
  .hero__content {
    width: 800px;
    padding: 30px 20px 30px;
    margin: 0 15px;
    text-align: center; }
    .hero__content__title {
      font-size: 1.7em;
      margin-bottom: 30px; }
    .hero__content__text {
      font-size: 1.3em;
      line-height: 1.3em; }

/* About */
.about {
  width: 100%;
  text-align: center;
  background-color: white; }
  .about h1 {
    font-size: 1.4em;
    text-align: center;
    text-transform: uppercase;
    padding: 70px 0 40px 0; }
  .about__content {
    line-height: 1.6em;
    font-size: 1.1em;
    margin-bottom: 40px; }
    .about__content__picture__frame {
      text-align: center; }
      .about__content__picture__frame img {
        width: 65%;
        border-radius: 50%; }
    .about__content__text--first-p {
      text-align: justify;
      padding: 0 100px 10px 0; }
    .about__content__text--last-p {
      text-align: center;
      padding: 0 100px 10px 0; }
      .about__content__text--last-p a {
        color: #345270;
        text-decoration: none; }

@media screen and (max-width: 880px) {
  div.about__content div.about__content__text p.about__content__text--first-p {
    text-align: center;
    padding: 0 20px 10px 20px; }
  div.about__content div.about__content__text p.about__content__text--last-p {
    padding: 0 20px 10px 20px; }
  /* Change grid */
  div.column-6 {
    float: none;
    width: auto; }
  div.column + div.column {
    margin-left: 0; }
  div.row {
    margin-bottom: 0; }
  div.column {
    margin-bottom: 10px; }
  div.row:last-child .column:last-child {
    margin-bottom: 0; } }

/* Projects */
.projects {
  width: 100%;
  text-align: center;
  background: url("/assets/background02.jpg") no-repeat;
  background-attachment: fixed;
  background-position: bottom center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }
  .projects h1 {
    font-size: 1.4em;
    text-align: center;
    text-transform: uppercase;
    padding: 70px 0 40px 0; }
  .projects__content {
    line-height: 1.1em;
    font-size: 1.1em;
    padding-bottom: 70px; }
    .projects__content span {
      display: inline-block;
      padding: 10px;
      cursor: pointer;
      transition: background-color 300ms;
      border: 2px solid #181517;
      background-color: rgba(255, 255, 255, 0.2); }
    .projects__content span:hover {
      background-color: rgba(52, 82, 112, 0.4);
      transition: 300ms; }

@media screen and (max-width: 680px) {
  section.projects div.projects__content div.projects__content__item {
    padding: 10px; } }

/* Contact */
.contact {
  width: 100%;
  text-align: center;
  background-color: white; }
  .contact h1 {
    font-size: 1.4em;
    text-align: center;
    text-transform: uppercase;
    padding: 70px 0 40px 0; }
  .contact--last-p {
    margin-bottom: 40px; }
  .contact__links {
    line-height: 1.1em;
    font-size: 1.1em;
    margin-bottom: 40px; }
    .contact__links ul li {
      display: inline;
      padding: 10px; }
      .contact__links ul li a {
        color: #181517; }
      .contact__links ul li a:hover {
        color: #345270; }

@media screen and (max-width: 680px) {
  div.contact__links ul li {
    display: block; } }

body {
  font-family: Roboto, sans-serif;
  font-weight: 300; }

/*# sourceMappingURL=style.css.map */