/* CUSTOM STYLE */
/* Utils */
/* VARIABLES */
/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif:400i");
/* Colors */
/* Heights */
/* Background images */
/* Mixins */
.bottom-shadow {
  box-shadow: 0px 3px 5px grey;
  -webkit-box-shadow: 0px 3px 5px grey;
  -moz-box-shadow: 0px 3px 5px grey; }

/* Components */
.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s; }

.c-hamburger:focus {
  outline: none; }

/* INNER SPAN */
.c-hamburger span {
  display: block;
  position: absolute;
  top: 23px;
  left: 9.3px;
  right: 9.3px;
  height: 3px;
  background: black; }

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: black;
  content: ""; }

.c-hamburger span::before {
  top: -10px; }

.c-hamburger span::after {
  bottom: -10px; }

/* ANIMATE TO x */
.c-hamburger--htx {
  background-color: white; }

.c-hamburger--htx span {
  transition: background 0s 0.3s; }

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s; }

.c-hamburger--htx span::before {
  transition-property: top, transform; }

.c-hamburger--htx span::after {
  transition-property: bottom, transform; }

/* active state, i.e. menu open */
.c-hamburger--htx.is-active {
  background-color: white; }

.c-hamburger--htx.is-active span {
  background: none; }

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg); }

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg); }

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s; }

/* Layout */
/* HEADER */
.header {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 50px;
  background-color: white;
  font-size: 22px;
  line-height: 50px;
  transition: box-shadow 300ms; }
  .header .header__nav a.header__nav__author {
    font-family: Noto serif, serif;
    font-weight: 400;
    font-size: 26px;
    color: black;
    width: 200px;
    float: left;
    padding: 0 7px 0 7px;
    text-align: center;
    text-decoration: none;
    transition: 300ms; }
  .header .header__nav a.header__nav__author:hover {
    color: white;
    background-color: black; }
  .header .header__nav a.header__nav__author:active {
    background-color: white;
    color: black; }
  .header .header__nav .header__nav--toggle {
    float: right;
    display: none; }
  .header .header__nav__menu {
    float: right; }
    .header .header__nav__menu ul li {
      display: inline;
      margin: 0 5px;
      padding: 10px; }
      .header .header__nav__menu ul li a:link {
        text-decoration: none;
        color: black;
        border-bottom: solid 2px transparent;
        transition: 300ms; }
      .header .header__nav__menu ul li a:visited {
        color: black; }
      .header .header__nav__menu ul li a:hover {
        border-bottom: solid 2px black; }
      .header .header__nav__menu ul li a:active {
        background-color: white;
        color: black; }

@media screen and (max-width: 680px) {
  .header div.header__nav__menu {
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    display: none; }
  .header__nav__menu ul.header__nav__menu__links li {
    text-align: right;
    display: block; }
  .header nav.header__nav button.header__nav--toggle {
    display: block; } }

/* FOOTER */
.footer {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("/assets/background02.jpg") no-repeat;
  background-attachment: fixed;
  background-position: bottom center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: white;
  height: 50px; }

/* Pages */
/* HERO */
.hero {
  background: url("/assets/background02.jpg") no-repeat;
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  .hero__content {
    width: 800px;
    border: solid 2px transparent;
    padding: 30px 20px 30px;
    margin: 0 15px;
    text-align: center; }
    .hero__content__title {
      font-size: 1.7em;
      margin-bottom: 30px; }
    .hero__content__text {
      font-size: 1.3em;
      line-height: 1.3em; }

/* ABOUT */
.about {
  width: 100%;
  text-align: center;
  background-color: white; }
  .about__content {
    line-height: 1.1em;
    font-size: 1.1em; }
    .about__content h1 {
      font-size: 1.4em;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 40px; }

/* PROJECTS */
.projects {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("/assets/background02.jpg") no-repeat;
  background-attachment: fixed;
  background-position: bottom center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 500px; }
  .projects__content {
    line-height: 1.1em;
    font-size: 1.1em; }
    .projects__content h1 {
      font-size: 1.4em;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 40px; }

/* CONTACT */
.contact {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 400px; }
  .contact__content {
    line-height: 1.1em;
    font-size: 1.1em; }
    .contact__content h1 {
      font-size: 1.4em;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 40px; }
    .contact__content--last-p {
      margin-bottom: 60px; }
    .contact__content ul li {
      display: inline; }
      .contact__content ul li a {
        color: black; }
      .contact__content ul li a:hover {
        color: #3e7e89; }

body {
  font-family: Roboto, sans-serif;
  font-weight: 300; }

/*# sourceMappingURL=style.css.map */