/* CUSTOM STYLE */
/* Utils */
/* VARIABLES */
/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif:400i");
/* Colors */
/* Heights */
/* Background images */
/* Mixins */
/* Layout */
/* HEADER */
.header {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 50px;
  background-color: white;
  font-size: 22px;
  line-height: 50px;
  padding: 0 20px 0 0; }
  .header .header__nav a.header__author {
    font-family: Noto serif, serif;
    font-weight: 400;
    font-size: 26px;
    color: black;
    width: 200px;
    float: left;
    padding: 0 7px 0 7px;
    text-align: center;
    text-decoration: none; }
  .header .header__nav a.header__author:hover {
    color: white;
    background-color: black;
    transition: 300ms; }
  .header .header__nav a.header__author:active {
    background-color: white;
    color: black; }
  .header .header__nav ul {
    float: right; }
    .header .header__nav ul li {
      display: inline;
      margin: 0 5px;
      padding: 10px; }
      .header .header__nav ul li a:link {
        text-decoration: none;
        color: black;
        border-bottom: solid 2px transparent;
        transition: 300ms; }
      .header .header__nav ul li a:visited {
        color: black; }
      .header .header__nav ul li a:hover {
        border-bottom: solid 2px black; }
      .header .header__nav ul li a:active {
        background-color: white;
        color: black; }

/* FOOTER */
.footer {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 50px; }

/* Pages */
/* HERO */
.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  .hero .hero__content {
    width: 800px;
    border: solid 2px transparent;
    padding: 30px 20px 30px;
    margin: 0 15px;
    text-align: center; }
    .hero .hero__content .hero__content__title {
      font-size: 1.7em;
      margin-bottom: 30px; }
    .hero .hero__content .hero__content__text {
      font-size: 1.3em;
      line-height: 1.3em; }

/* ABOUT */
.about {
  width: 100%;
  text-align: center;
  background-color: white; }
  .about .about__content {
    line-height: 1.1em;
    font-size: 1.1em; }
    .about .about__content h1 {
      font-size: 1.4em;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 40px; }

/* PROJECTS */
.projects {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px; }
  .projects .projects__content {
    line-height: 1.1em;
    font-size: 1.1em; }
    .projects .projects__content h1 {
      font-size: 1.4em;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 40px; }

/* CONTACT */
.contact {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 400px; }
  .contact .contact__content {
    line-height: 1.1em;
    font-size: 1.1em; }
    .contact .contact__content h1 {
      font-size: 1.4em;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 40px; }
    .contact .contact__content .contact__content--last-p {
      font-style: italic;
      margin-bottom: 60px; }
    .contact .contact__content ul li {
      display: inline; }
      .contact .contact__content ul li a {
        color: black; }
      .contact .contact__content ul li a:hover {
        color: #3e7e89; }

body {
  background: url("/assets/background02.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top center;
  width: 100%;
  height: 100%;
  font-family: Roboto, sans-serif;
  font-weight: 300; }

/*# sourceMappingURL=style.css.map */