/*******************

    CUSTOM STYLE

********************/


/* UTILS */

@import 'utils/variables';
@import 'utils/mixins';


/* COMPONENTS */

@import 'components/toggle';
@import 'components/x-button';
@import 'components/carousel';

/* LAYOUT */

@import 'layout/header';
@import 'layout/grid';
@import 'layout/footer';


/* PAGES */

@import 'pages/hero';
@import 'pages/about';
@import 'pages/projects';
@import 'pages/contact';

/* CLASSES */

@import 'utils/classes';


body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
    font : {
        family: Roboto, sans-serif;
        weight: 300;
    }
}
