/************************** 

    CUSTOM STYLE for
    
    Milena Baeza's website

***************************/


/* UTILS */

@import 'utils/variables';
@import 'utils/mixins';
@import 'utils/classes';


/* COMPONENTS */

@import 'components/toggle';
@import 'components/x-button';


/* LAYOUT */

@import 'layout/header';
@import 'layout/grid';
@import 'layout/footer';


/* PAGES */

@import 'pages/hero';
@import 'pages/about';
@import 'pages/projects';
@import 'pages/projects-carousel-frontend';
@import 'pages/contact';


body {
    font : {
        family: Roboto, sans-serif;
        weight: 300;
    }
}
