/*******************

    CUSTOM STYLE

********************/
/* UTILS */
/* Variables */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif:400i");
/* White */
/* Yellow */
/* Black */
/* Blue */
/* Green */
/* Mixins */
/* Form components */
/* line 3, C:/Users/Milena/Documents/MySite/scss/utils/_form.scss */
.form-group {
  margin-bottom: 1em; }

/* line 7, C:/Users/Milena/Documents/MySite/scss/utils/_form.scss */
.form-label {
  display: inline-block;
  margin-bottom: .3em; }

/* line 12, C:/Users/Milena/Documents/MySite/scss/utils/_form.scss */
.form-input {
  display: block;
  width: 100%;
  height: 2.375em;
  border: 1px solid rgba(132, 139, 14, 0.2);
  border-radius: 0;
  padding: 0.375em 0.75em;
  background-clip: padding-box;
  background-clip: padding-box;
  background-color: rgba(132, 139, 14, 0.2);
  color: #181517;
  transition: border-color 0.15s ease-out; }
  /* line 25, C:/Users/Milena/Documents/MySite/scss/utils/_form.scss */
  .form-input:focus {
    border: 1px solid white;
    background-color: white;
    color: #333; }

/* line 32, C:/Users/Milena/Documents/MySite/scss/utils/_form.scss */
.form-textarea {
  height: auto;
  resize: vertical; }

/* line 37, C:/Users/Milena/Documents/MySite/scss/utils/_form.scss */
.form-btn {
  display: block;
  margin: 0 auto;
  width: 100px;
  border: 2px solid #181517;
  border-radius: 30px;
  background-color: white;
  padding: 15px 20px;
  font-weight: 400;
  transition: 200ms ease-in-out; }
  /* line 48, C:/Users/Milena/Documents/MySite/scss/utils/_form.scss */
  .form-btn:hover {
    background-color: #181517;
    color: white; }

/* COMPONENTS */
/* Toggle */
/* line 8, C:/Users/Milena/Documents/MySite/scss/components/_toggle.scss */
.toggle-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s; }

/* line 26, C:/Users/Milena/Documents/MySite/scss/components/_toggle.scss */
.toggle-hamburger:focus {
  outline: none; }

/* line 35, C:/Users/Milena/Documents/MySite/scss/components/_toggle.scss */
.toggle-hamburger span {
  display: block;
  position: absolute;
  top: 23px;
  left: 9.3px;
  right: 9.3px;
  height: 3px;
  background: white; }

/* line 46, C:/Users/Milena/Documents/MySite/scss/components/_toggle.scss */
.toggle-hamburger span::before,
.toggle-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: white;
  content: ""; }

/* line 56, C:/Users/Milena/Documents/MySite/scss/components/_toggle.scss */
.toggle-hamburger span::before {
  top: -10px; }

/* line 60, C:/Users/Milena/Documents/MySite/scss/components/_toggle.scss */
.toggle-hamburger span::after {
  bottom: -10px; }

/* line 69, C:/Users/Milena/Documents/MySite/scss/components/_toggle.scss */
.toggle-hamburger--x {
  background-color: transparent; }

/* line 73, C:/Users/Milena/Documents/MySite/scss/components/_toggle.scss */
.toggle-hamburger--x span {
  transition: background 0s 0.3s; }

/* line 78, C:/Users/Milena/Documents/MySite/scss/components/_toggle.scss */
.toggle-hamburger--x span::before,
.toggle-hamburger--x span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s; }

/* line 83, C:/Users/Milena/Documents/MySite/scss/components/_toggle.scss */
.toggle-hamburger--x span::before {
  transition-property: top, transform; }

/* line 87, C:/Users/Milena/Documents/MySite/scss/components/_toggle.scss */
.toggle-hamburger--x span::after {
  transition-property: bottom, transform; }

/* line 96, C:/Users/Milena/Documents/MySite/scss/components/_toggle.scss */
.toggle-hamburger--x.is-active {
  background-color: transparent; }

/* line 100, C:/Users/Milena/Documents/MySite/scss/components/_toggle.scss */
.toggle-hamburger--x.is-active span {
  background: none; }

/* line 104, C:/Users/Milena/Documents/MySite/scss/components/_toggle.scss */
.toggle-hamburger--x.is-active span::before {
  top: 0;
  transform: rotate(45deg); }

/* line 109, C:/Users/Milena/Documents/MySite/scss/components/_toggle.scss */
.toggle-hamburger--x.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg); }

/* line 115, C:/Users/Milena/Documents/MySite/scss/components/_toggle.scss */
.toggle-hamburger--x.is-active span::before,
.toggle-hamburger--x.is-active span::after {
  transition-delay: 0s, 0.3s; }

/* x button */
/* line 7, C:/Users/Milena/Documents/MySite/scss/components/_x-button.scss */
.x-button {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.7); }

/* line 25, C:/Users/Milena/Documents/MySite/scss/components/_x-button.scss */
.x-button:focus {
  outline: none; }

/* line 33, C:/Users/Milena/Documents/MySite/scss/components/_x-button.scss */
.x-button span {
  display: block;
  position: absolute;
  top: 23px;
  left: 9.3px;
  right: 9.3px;
  height: 3px;
  background: none; }

/* line 44, C:/Users/Milena/Documents/MySite/scss/components/_x-button.scss */
.x-button span::before,
.x-button span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: black;
  content: ""; }

/* line 54, C:/Users/Milena/Documents/MySite/scss/components/_x-button.scss */
.x-button span::before {
  top: 0;
  transform: rotate(45deg); }

/* line 59, C:/Users/Milena/Documents/MySite/scss/components/_x-button.scss */
.x-button span::after {
  bottom: 0;
  transform: rotate(-45deg); }

/* Carousel */
/* line 3, C:/Users/Milena/Documents/MySite/scss/components/_carousel.scss */
.carousel {
  visibility: hidden;
  position: fixed;
  top: 20px;
  z-index: 99;
  width: 850px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 400ms ease-in-out; }
  @media (max-width: 960px) {
    /* line 3, C:/Users/Milena/Documents/MySite/scss/components/_carousel.scss */
    .carousel {
      width: 90%;
      max-width: 600px; } }
  /* line 23, C:/Users/Milena/Documents/MySite/scss/components/_carousel.scss */
  .carousel .slide {
    text-align: center; }
    /* line 26, C:/Users/Milena/Documents/MySite/scss/components/_carousel.scss */
    .carousel .slide .row {
      background-color: white; }
      /* line 29, C:/Users/Milena/Documents/MySite/scss/components/_carousel.scss */
      .carousel .slide .row .col {
        position: relative;
        float: left;
        display: block; }
      /* line 35, C:/Users/Milena/Documents/MySite/scss/components/_carousel.scss */
      .carousel .slide .row .col-4 {
        width: 33.33333332%;
        padding: 15px 15px 15px 15px; }
      /* line 40, C:/Users/Milena/Documents/MySite/scss/components/_carousel.scss */
      .carousel .slide .row .col-8 {
        width: 66.67%; }
    /* line 45, C:/Users/Milena/Documents/MySite/scss/components/_carousel.scss */
    .carousel .slide h3 {
      font-size: 1.3em;
      text-transform: uppercase;
      margin: 40px 0 25px; }
    /* line 51, C:/Users/Milena/Documents/MySite/scss/components/_carousel.scss */
    .carousel .slide p {
      line-height: 1.8em;
      margin-bottom: 28px; }
      /* line 55, C:/Users/Milena/Documents/MySite/scss/components/_carousel.scss */
      .carousel .slide p small {
        display: block;
        font-size: 12px;
        margin-top: 40px; }
        /* line 60, C:/Users/Milena/Documents/MySite/scss/components/_carousel.scss */
        .carousel .slide p small a {
          color: #181517;
          text-decoration: underline;
          padding: 0; }
        /* line 66, C:/Users/Milena/Documents/MySite/scss/components/_carousel.scss */
        .carousel .slide p small a:hover {
          color: #181517;
          background-color: inherit; }
    /* line 73, C:/Users/Milena/Documents/MySite/scss/components/_carousel.scss */
    .carousel .slide .only-paragraph {
      margin: 0;
      padding: 30px 30px 40px;
      color: white;
      background-color: #36a06e; }
    /* line 80, C:/Users/Milena/Documents/MySite/scss/components/_carousel.scss */
    .carousel .slide .mobile-show {
      display: none; }
    @media (max-width: 960px) {
      /* line 88, C:/Users/Milena/Documents/MySite/scss/components/_carousel.scss */
      .carousel .slide .row .col-4,
      .carousel .slide .row .col-8 {
        float: none;
        width: auto; }
      /* line 93, C:/Users/Milena/Documents/MySite/scss/components/_carousel.scss */
      .carousel .slide .col-4 {
        color: white;
        background-color: #36a06e;
        text-align: left;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0; }
        /* line 101, C:/Users/Milena/Documents/MySite/scss/components/_carousel.scss */
        .carousel .slide .col-4 h3, .carousel .slide .col-4 p {
          display: inline-block;
          margin: 0; }
        /* line 106, C:/Users/Milena/Documents/MySite/scss/components/_carousel.scss */
        .carousel .slide .col-4 a {
          float: right;
          display: inline-block;
          font-size: 12px;
          color: white;
          padding: 0; }
        /* line 5, C:/Users/Milena/Documents/MySite/scss/utils/_mixins.scss */
        .carousel .slide .col-4:before,
        .carousel .slide .col-4:after {
          content: " ";
          display: table; }
        /* line 9, C:/Users/Milena/Documents/MySite/scss/utils/_mixins.scss */
        .carousel .slide .col-4:after {
          clear: both; }
      /* line 117, C:/Users/Milena/Documents/MySite/scss/components/_carousel.scss */
      .carousel .slide .mobile-hide, .carousel .slide p.mobile-hide {
        display: none; }
      /* line 121, C:/Users/Milena/Documents/MySite/scss/components/_carousel.scss */
      .carousel .slide .mobile-show {
        display: inline; } }
  /* line 128, C:/Users/Milena/Documents/MySite/scss/components/_carousel.scss */
  .carousel__btn {
    color: #36a06e;
    text-decoration: none;
    padding: 12px;
    border-radius: 20px;
    border: 1px solid;
    transition: background-color 200ms ease-in-out, color 200ms ease-in-out; }
    /* line 136, C:/Users/Milena/Documents/MySite/scss/components/_carousel.scss */
    .carousel__btn:hover {
      color: white;
      background-color: #36a06e; }
    @media (max-width: 960px) {
      /* line 128, C:/Users/Milena/Documents/MySite/scss/components/_carousel.scss */
      .carousel__btn {
        border: none; } }

/* line 147, C:/Users/Milena/Documents/MySite/scss/components/_carousel.scss */
.carousel-background {
  visibility: hidden;
  position: fixed;
  top: 0;
  z-index: 90;
  background-color: rgba(24, 21, 23, 0.8);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 500ms ease-in-out; }

/* line 159, C:/Users/Milena/Documents/MySite/scss/components/_carousel.scss */
.visible {
  visibility: visible;
  opacity: 1; }

/* LAYOUT */
/* Header */
/* line 3, C:/Users/Milena/Documents/MySite/scss/layout/_header.scss */
.header {
  position: fixed;
  z-index: 90;
  width: 100%;
  height: 70px;
  padding: 10px;
  font-size: 22px;
  line-height: 50px;
  transition: all 300ms; }
  /* line 14, C:/Users/Milena/Documents/MySite/scss/layout/_header.scss */
  .header__author {
    font-family: Noto serif, serif;
    font-weight: 400;
    font-size: 2em;
    line-height: 1em;
    color: white;
    padding: 0 15px;
    text-decoration: none; }
  /* line 26, C:/Users/Milena/Documents/MySite/scss/layout/_header.scss */
  .header__nav--toggle {
    float: right;
    display: none; }
    @media (max-width: 960px) {
      /* line 26, C:/Users/Milena/Documents/MySite/scss/layout/_header.scss */
      .header__nav--toggle {
        display: block; } }
  /* line 35, C:/Users/Milena/Documents/MySite/scss/layout/_header.scss */
  .header__menu {
    float: right; }
    /* line 38, C:/Users/Milena/Documents/MySite/scss/layout/_header.scss */
    .header__menu ul {
      padding-right: 7px; }
      /* line 42, C:/Users/Milena/Documents/MySite/scss/layout/_header.scss */
      .header__menu ul li {
        display: inline;
        margin: 0 5px;
        padding: 10px; }
        /* line 47, C:/Users/Milena/Documents/MySite/scss/layout/_header.scss */
        .header__menu ul li a {
          text-decoration: none;
          color: white;
          border-bottom: solid 2px transparent;
          transition: 300ms; }
        /* line 55, C:/Users/Milena/Documents/MySite/scss/layout/_header.scss */
        .header__menu ul li a:hover {
          border-bottom: solid 2px white; }
        /* line 58, C:/Users/Milena/Documents/MySite/scss/layout/_header.scss */
        .header__menu ul li a:active {
          color: white; }
        @media (max-width: 960px) {
          /* line 42, C:/Users/Milena/Documents/MySite/scss/layout/_header.scss */
          .header__menu ul li {
            display: block;
            text-align: right;
            padding: 0 5px 0 0;
            color: #181517; }
            /* line 69, C:/Users/Milena/Documents/MySite/scss/layout/_header.scss */
            .header__menu ul li a:hover {
              border-bottom: solid 2px white; }
            /* line 72, C:/Users/Milena/Documents/MySite/scss/layout/_header.scss */
            .header__menu ul li a:active {
              color: white; } }
      /* line 78, C:/Users/Milena/Documents/MySite/scss/layout/_header.scss */
      .header__menu ul li.header__github {
        font-size: 14px;
        text-align: center;
        padding: 0; }
        /* line 83, C:/Users/Milena/Documents/MySite/scss/layout/_header.scss */
        .header__menu ul li.header__github a:hover {
          border-bottom: solid 2px transparent; }
        @media (max-width: 960px) {
          /* line 78, C:/Users/Milena/Documents/MySite/scss/layout/_header.scss */
          .header__menu ul li.header__github {
            display: block;
            text-align: right;
            padding: 0 5px 0 0; } }
    @media (max-width: 960px) {
      /* line 35, C:/Users/Milena/Documents/MySite/scss/layout/_header.scss */
      .header__menu {
        background-color: rgba(104, 133, 75, 0.4);
        width: 100%;
        display: none; } }

/* Grid System */
/* line 5, C:/Users/Milena/Documents/MySite/scss/utils/_mixins.scss */
.row:before,
.row:after {
  content: " ";
  display: table; }

/* line 9, C:/Users/Milena/Documents/MySite/scss/utils/_mixins.scss */
.row:after {
  clear: both; }

/* line 37, C:/Users/Milena/Documents/MySite/scss/layout/_grid.scss */
.column {
  position: relative;
  float: left;
  display: block; }

/* line 43, C:/Users/Milena/Documents/MySite/scss/layout/_grid.scss */
.column + .column {
  margin-left: 1.6%; }

/* line 47, C:/Users/Milena/Documents/MySite/scss/layout/_grid.scss */
.column-1 {
  width: 6.86666666667%; }

/* line 51, C:/Users/Milena/Documents/MySite/scss/layout/_grid.scss */
.column-2 {
  width: 15.3333333333%; }

/* line 55, C:/Users/Milena/Documents/MySite/scss/layout/_grid.scss */
.column-3 {
  width: 23.8%; }

/* line 59, C:/Users/Milena/Documents/MySite/scss/layout/_grid.scss */
.column-4 {
  width: 32.2666666667%; }

/* line 63, C:/Users/Milena/Documents/MySite/scss/layout/_grid.scss */
.column-5 {
  width: 40.7333333333%; }

/* line 67, C:/Users/Milena/Documents/MySite/scss/layout/_grid.scss */
.column-6 {
  width: 49.2%; }

/* line 71, C:/Users/Milena/Documents/MySite/scss/layout/_grid.scss */
.column-7 {
  width: 57.6666666667%; }

/* line 75, C:/Users/Milena/Documents/MySite/scss/layout/_grid.scss */
.column-8 {
  width: 66.1333333333%; }

/* line 79, C:/Users/Milena/Documents/MySite/scss/layout/_grid.scss */
.column-9 {
  width: 74.6%; }

/* line 83, C:/Users/Milena/Documents/MySite/scss/layout/_grid.scss */
.column-10 {
  width: 83.0666666667%; }

/* line 87, C:/Users/Milena/Documents/MySite/scss/layout/_grid.scss */
.column-11 {
  width: 91.5333333333%; }

/* line 91, C:/Users/Milena/Documents/MySite/scss/layout/_grid.scss */
.column-12 {
  width: 100%;
  margin-left: 0; }

@media screen and (max-width: 960px) {
  /* line 108, C:/Users/Milena/Documents/MySite/scss/layout/_grid.scss */
  .column-1,
  .column-2,
  .column-3,
  .column-4,
  .column-5,
  .column-6,
  .column-7,
  .column-8,
  .column-9,
  .column-10,
  .column-11,
  .column-12 {
    float: none;
    width: auto; }
  /* line 113, C:/Users/Milena/Documents/MySite/scss/layout/_grid.scss */
  .column + .column {
    margin-left: 0; } }

/* line 123, C:/Users/Milena/Documents/MySite/scss/layout/_grid.scss */
.container {
  padding: 20px; }
  @media (min-width: 1200px) {
    /* line 123, C:/Users/Milena/Documents/MySite/scss/layout/_grid.scss */
    .container {
      margin: 0 auto;
      width: 1300px; } }

/* line 132, C:/Users/Milena/Documents/MySite/scss/layout/_grid.scss */
.column {
  padding: 5px;
  min-height: 30px; }

/* line 137, C:/Users/Milena/Documents/MySite/scss/layout/_grid.scss */
.row {
  margin-bottom: 10px; }

/* line 141, C:/Users/Milena/Documents/MySite/scss/layout/_grid.scss */
.row:last-child {
  margin-bottom: 0; }

@media (max-width: 960px) {
  /* line 146, C:/Users/Milena/Documents/MySite/scss/layout/_grid.scss */
  .row {
    margin-bottom: 0; }
  /* line 149, C:/Users/Milena/Documents/MySite/scss/layout/_grid.scss */
  .column {
    margin-bottom: 10px; }
  /* line 152, C:/Users/Milena/Documents/MySite/scss/layout/_grid.scss */
  .row:last-child .column:last-child {
    margin-bottom: 0; } }

/* Footer */
/* line 3, C:/Users/Milena/Documents/MySite/scss/layout/_footer.scss */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../../assets/background_rose.jpg") no-repeat;
  background-color: #36a06e;
  background-attachment: fixed;
  background-position: bottom center;
  background-size: cover;
  color: white;
  height: 100px; }
  /* line 9, C:/Users/Milena/Documents/MySite/scss/layout/_footer.scss */
  .footer span {
    text-align: center;
    padding: 10px; }

/* PAGES */
/* Hero */
/* line 3, C:/Users/Milena/Documents/MySite/scss/pages/_hero.scss */
.hero {
  background: url("../../assets/background_rose.jpg") no-repeat;
  background-color: #36a06e;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100vh; }
  /* line 9, C:/Users/Milena/Documents/MySite/scss/pages/_hero.scss */
  .hero__content {
    padding: 33vh 20px 30px;
    margin: 0 15px;
    text-align: center;
    color: white;
    font-family: Noto serif, serif; }
  /* line 18, C:/Users/Milena/Documents/MySite/scss/pages/_hero.scss */
  .hero__title {
    display: inline;
    font-size: 4em;
    font-weight: 400;
    line-height: 1.8em;
    color: white; }
  /* line 28, C:/Users/Milena/Documents/MySite/scss/pages/_hero.scss */
  .hero__text {
    font-size: 1.5em;
    line-height: 1.5em; }

/* About */
/* line 3, C:/Users/Milena/Documents/MySite/scss/pages/_about.scss */
.about {
  width: 100%;
  text-align: center;
  background-color: white; }
  /* line 6, C:/Users/Milena/Documents/MySite/scss/pages/_about.scss */
  .about h1 {
    font-size: 1.6em;
    text-align: center;
    text-transform: uppercase;
    padding: 100px 0 0 0; }
  /* line 10, C:/Users/Milena/Documents/MySite/scss/pages/_about.scss */
  .about__content {
    line-height: 1.7em;
    font-size: 1.1em;
    padding: 40px 20px 70px;
    text-align: center; }
    @media (max-width: 960px) {
      /* line 10, C:/Users/Milena/Documents/MySite/scss/pages/_about.scss */
      .about__content {
        padding-bottom: 40px; } }
  /* line 22, C:/Users/Milena/Documents/MySite/scss/pages/_about.scss */
  .about__description {
    padding: 20px 0;
    width: 715px;
    margin: 0 auto; }
    @media (max-width: 960px) {
      /* line 22, C:/Users/Milena/Documents/MySite/scss/pages/_about.scss */
      .about__description {
        width: 100%;
        margin: 0; } }
  /* line 33, C:/Users/Milena/Documents/MySite/scss/pages/_about.scss */
  .about__round-image {
    width: 206px;
    height: 206px;
    border-radius: 50%;
    padding: 3px;
    border: 2px solid rgba(104, 133, 75, 0.4); }
  /* line 41, C:/Users/Milena/Documents/MySite/scss/pages/_about.scss */
  .about__section {
    padding: 50px 20px 20px; }
  /* line 45, C:/Users/Milena/Documents/MySite/scss/pages/_about.scss */
  .about__title {
    font-size: 1.1em;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 10px; }
  /* line 54, C:/Users/Milena/Documents/MySite/scss/pages/_about.scss */
  .about__subtitle {
    color: rgba(104, 133, 75, 0.6); }
  /* line 58, C:/Users/Milena/Documents/MySite/scss/pages/_about.scss */
  .about__subcontent {
    font-size: .9em; }
  /* line 62, C:/Users/Milena/Documents/MySite/scss/pages/_about.scss */
  .about__width-300 {
    width: 300px;
    margin: 0 auto; }
    @media (max-width: 700px) {
      /* line 62, C:/Users/Milena/Documents/MySite/scss/pages/_about.scss */
      .about__width-300 {
        width: 100%;
        margin: 0; } }
  /* line 72, C:/Users/Milena/Documents/MySite/scss/pages/_about.scss */
  .about__link {
    color: #181517;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 1px solid #181517; }
  @media (max-width: 960px) {
    /* line 79, C:/Users/Milena/Documents/MySite/scss/pages/_about.scss */
    .about__picture {
      margin-bottom: 20px; } }
  /* line 85, C:/Users/Milena/Documents/MySite/scss/pages/_about.scss */
  .about strong {
    font-weight: 400; }

/* Projects */
/* line 3, C:/Users/Milena/Documents/MySite/scss/pages/_projects.scss */
.projects {
  background: url("../../assets/background_rose.jpg") no-repeat;
  background-color: #36a06e;
  background-attachment: fixed;
  background-position: bottom center;
  background-size: cover;
  padding-top: 50px; }
  /* line 7, C:/Users/Milena/Documents/MySite/scss/pages/_projects.scss */
  .projects h1 {
    font-size: 1.6em;
    text-align: center;
    text-transform: uppercase;
    padding: 100px 0 0 0;
    color: white; }
  /* line 12, C:/Users/Milena/Documents/MySite/scss/pages/_projects.scss */
  .projects__content {
    line-height: 1.1em;
    font-size: 1.1em;
    padding-top: 140px;
    padding-bottom: 200px; }
    @media (max-width: 960px) {
      /* line 12, C:/Users/Milena/Documents/MySite/scss/pages/_projects.scss */
      .projects__content {
        padding-top: 60px;
        padding-bottom: 90px; } }
  /* line 25, C:/Users/Milena/Documents/MySite/scss/pages/_projects.scss */
  .projects__item {
    text-align: center; }
    @media (max-width: 960px) {
      /* line 25, C:/Users/Milena/Documents/MySite/scss/pages/_projects.scss */
      .projects__item {
        padding: 10px;
        margin-bottom: 15px; } }
  @media (max-width: 960px) {
    /* line 3, C:/Users/Milena/Documents/MySite/scss/pages/_projects.scss */
    .projects {
      padding-top: 0; } }
  /* line 38, C:/Users/Milena/Documents/MySite/scss/pages/_projects.scss */
  .projects__btn {
    display: inline-block;
    padding: 20px;
    cursor: pointer;
    border-radius: 30px;
    color: white;
    border: 1px solid white;
    font-family: Noto serif, serif;
    font-size: 1.2em;
    transition: background-color 200ms ease-in-out, color 200ms ease-in-out; }

/* Contact */
/* line 3, C:/Users/Milena/Documents/MySite/scss/pages/_contact.scss */
.contact {
  width: 100%;
  text-align: center;
  background-color: white; }
  /* line 6, C:/Users/Milena/Documents/MySite/scss/pages/_contact.scss */
  .contact h1 {
    font-size: 1.6em;
    text-align: center;
    text-transform: uppercase;
    padding: 100px 0 0 0; }
  /* line 10, C:/Users/Milena/Documents/MySite/scss/pages/_contact.scss */
  .contact__info {
    padding: 40px 30px 90px;
    text-align: left; }
    @media (max-width: 960px) {
      /* line 10, C:/Users/Milena/Documents/MySite/scss/pages/_contact.scss */
      .contact__info {
        padding: 40px 20px 90px; } }
  /* line 20, C:/Users/Milena/Documents/MySite/scss/pages/_contact.scss */
  .contact__email {
    color: #73b134;
    text-decoration: none;
    padding-bottom: 2px;
    color: #181517;
    border-bottom: 1px solid #181517; }
  /* line 28, C:/Users/Milena/Documents/MySite/scss/pages/_contact.scss */
  .contact__links {
    line-height: 1.1em;
    font-size: 1.1em;
    margin-top: 40px; }
    /* line 35, C:/Users/Milena/Documents/MySite/scss/pages/_contact.scss */
    .contact__links ul li {
      display: inline;
      padding: 5px 0; }
      /* line 39, C:/Users/Milena/Documents/MySite/scss/pages/_contact.scss */
      .contact__links ul li a {
        color: #181517;
        transition: color 200ms ease-in-out; }
      /* line 44, C:/Users/Milena/Documents/MySite/scss/pages/_contact.scss */
      .contact__links ul li a:hover {
        color: #848b0e; }
      @media (max-width: 960px) {
        /* line 35, C:/Users/Milena/Documents/MySite/scss/pages/_contact.scss */
        .contact__links ul li {
          display: block; } }

/* CLASSES */
/* Classes */
/* line 3, C:/Users/Milena/Documents/MySite/scss/utils/_classes.scss */
.bottom-shadow {
  box-shadow: 0px 3px 5px rgba(24, 21, 23, 0.5);
  background-color: rgba(104, 133, 75, 0.4);
  height: 50px;
  padding: 0;
  color: #181517; }

/* line 11, C:/Users/Milena/Documents/MySite/scss/utils/_classes.scss */
.img-100 {
  width: 100%;
  height: 100%; }

/* line 16, C:/Users/Milena/Documents/MySite/scss/utils/_classes.scss */
.text-bold {
  font-weight: 400; }

/* line 40, C:/Users/Milena/Documents/MySite/scss/style.scss */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Roboto, sans-serif;
  font-weight: 300; }

/*# sourceMappingURL=style.css.map */