/* Classes */


//----------------------
//  Add a bottom shadow
//----------------------

.bottom-shadow {
    box-shadow: 0px 3px 5px $shadow-color;
    -webkit-box-shadow: 0px 3px 5px $shadow-color;
    -moz-box-shadow: 0px 3px 5px $shadow-color;
}


//----------------------
//  
//----------------------

.flex-box {
    @include flex-box-center;
    flex: 1 1 auto;
    //border: 1px solid blue;
}


//----------------------
//  A slide of carousel
//----------------------

.slide {
    width: 750px;
    height: 550px;
    margin: 0 auto;
    background-color: $main-white;
}

.carousel {
    display: none;
}