/* Form components */

.form-group {
	font-size: 1.1em;
	margin-bottom: 1em;
}

.form-label {
	display: inline-block;
	margin-bottom: .5em;
}

.form-input {
	display: block;
	width: 100%;
	height: 2.375em;
	outline: none;
	border: 1px solid $transp-dark-yellow;
	border-radius: 0;
	padding: .375em .75em;
	background-clip: padding-box;
	background-clip: padding-box;
	background-color: $transp-dark-yellow;
	color: $main-black;
	transition: border-color .15s ease-out;
	
	&:focus {
		border: 1px solid $green;
		background-color: $main-white;
		color: #333;
		box-shadow: 0 0 8px $transp-green;
	}
}

.form-textarea {
	height: auto;
    resize: vertical;
}

.form-btn {
	display: block;
	margin: 0 auto;
	width: 100px;
	border: 2px solid $main-black;
	border-radius: 30px;
	background-color: $main-white;
	padding: 15px 20px;
	font-weight: 400;
	transition: 200ms ease-in-out;
	
	&:hover {
		background-color: $main-black;
		color: $main-white;
	}
}