/* Mixins */

@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin title() {
    font: {
        family: 'Noto serif', serif;
        size: 2em;
		    weight: 400;
    }
    text: {
        align: center;
    }
    padding: 100px 0 0 0;
}

@mixin section($color) {
    width: 100%;
    text-align: center;
    background-color: $color;
}

@mixin flex-box-center() {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin background-cover($position, $cover-image) {
    background: url($cover-image) no-repeat;

    background : {
        color: $dark-green;
        attachment: fixed;
        position: $position center;
    }

    background-size:cover;
}

@mixin transition-color-background-color() {
    transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}

@mixin transition-color() {
    transition: color 200ms ease-in-out;
}
