/* Mixins */

@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin title() {
    font: {
        family: 'Noto serif', serif;
        size: 2em;
		    weight: 400;
    }
    text: {
        align: center;
    }
    padding: 100px 0 0 0;
}

@mixin section($color) {
    width: 100%;
    text-align: center;
    background-color: $color;
}

@mixin flex-box-center() {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin background-cover($position, $cover-image) {
    background: $dark-green;
    background: linear-gradient(-90deg, $dark-green, $orange);
    background: url($cover-image) no-repeat;
    background-attachment: fixed;
    background-position: $position center;
    background-size:cover;
}
