/* Variables */


//--------
//  Fonts
//--------

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400i');


//---------
//  Colors
//---------

/* White */
$main-white: rgb(255, 255, 255);
$transparent-white: rgba(255, 255, 255, 0.7);
$more-transparent-white: rgba(255, 255, 255, 0.2);

/* Pink */
$pale-pink: rgba(241, 221, 234, 0.7);

/* Black */
$main-black: rgb(24, 21, 23);
$shadow-color: rgba(24, 21, 23, 0.5);

/* Blue */
$grey-blue: rgb(62, 126, 137);
$dark-grey-blue: rgb(52, 82, 112);
$transparent-dark-grey-blue: rgba(52, 82, 112, 0.4);


//----------
//  Heights
//----------

$header__font-size: 22px;
$header-height: 50px;
$footer-height: 80px;


//------------------
//  Background image
//------------------

$background-image: "/assets/background.jpg";
$background-image--cropped: "/assets/background_cropped.jpg";


//--------------------------------
//  Media query viewport max width
//--------------------------------

$max-width: 680px;
$max-width--about: 880px;
