/* VARIABLES */

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400i');

/* Colors */
$main-white: rgb(255, 255, 255);
$transparent-white: rgba(230, 222, 212, 0.5);
$main-black: black;
$dark-grey-blue: rgb(62, 126, 137);

/* Heights */
$header__font-size: 22px;
$header-height: 50px;

/* Background images */
$hero__image: "/assets/background02.jpg";