/* Carousel */

.carousel {
    visibility: hidden;
    position: fixed;
    top: 20px;
    z-index: 99;
    width: 700px;
    
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    background-color: aquamarine;
    opacity: 0;
    transition: 400ms ease-in-out;

    @media(max-width: $max-width) {
        width: 80%;
    }
}

.carousel-background {
    visibility: hidden;
    position: fixed;
    top: 0;
    z-index: 90;
    background-color: $dark-shadow;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 500ms ease-in-out;
}

.visible {
    visibility: visible;
    opacity: 1;
}