/* CONTACT */

.contact {
    @include section;
    background-color: $main-white;
    
    h1 {
        @include title;
    }

    &--last-p {
        margin-bottom: 40px;
    }
    
    height: 400px;
    
    &__links {
        line-height: 1.1em;
        font-size: 1.1em;
        
        ul {
            
            li {
                display: inline;
                padding: 10px;

                a {
                   color: $main-black; 
                }

                a:hover {
                    color: $dark-grey-blue;
                }
            }
        }
    }
}

@media screen and (max-width:680px) {
    div.contact__links ul li {
        display: block;
    }
}