/* Contact */

.contact {
    @include section($main-white);
    background-color: $main-white;
    
    height: 60vh;
    
    display: flex;
    flex-flow: column;
    
    h1 {
        @include title;
        
        flex: 0 1 142px;
    }

    &--last-p {
        margin-bottom: 40px;
    }
    
    &__links {
        line-height: 1.1em;
        font-size: 1.1em;
        
        ul {
            
            li {
                display: inline;
                padding: 10px;

                a {
                    color: $main-black;
                    @include transition-color;    
                }

                a:hover {
                    color: $pale-yellow;
                }
            }
        }
    }
}

@media screen and (max-width:$max-width) {
    div.contact__links ul li {
        display: block;
    }
}