/* HERO */

.hero {
    width: 100%;
    height: 100vh;
    @include flex-box-center;
    &__content {
        width: 800px;
        border: solid 2px transparent;
        padding: 30px 20px 30px;
        margin: 0 15px;
        text-align: center;
        
        &__title {
            font: {
                size: 1.7em;
            }
            margin-bottom: 30px;
        }
        
        &__text{
            font-size: 1.3em;
            line-height: 1.3em;
        }
        
    }
}