/* Projects */

.projects {
    @include background-cover(bottom, $background-image--cropped);
    
    position: relative;
    
    h1 {
        @include title;
        //border: 3px solid purple;
    }
    
    &__content {
        line-height: 1.1em;
        font-size: 1.1em;
        
        padding-top: 60px;
        padding-bottom: 90px;
        
        //border: 1px solid red;
        
        span {
            display: inline-block;
            padding: 10px;
            cursor: pointer;
            border: 2px solid $main-black;
            background-color: $more-transparent-white;
            
            @include transition-color-background-color;
        }
        
        span:hover {
            background-color: $transparent-pale-yellow;
            color: $main-black;
        }
        
        &__item {
            text-align: center;
            @media(max-width:$max-width) {
                padding: 10px;
                margin-bottom: 15px;
            }
        }
    }
}