/* PROJECTS */

.projects {
    @include section;
    @include background-cover(bottom);
    
    h1 {
        @include title;
    }
    
    height: 400px;
    
    &__content {
        line-height: 1.1em;
        font-size: 1.1em;
    }
}