/* Projects Carousel */

.js-open-projc-frontend {
    display: none;
    position: absolute;
    z-index: 99;
    top:0;
    left:0;
    
    @include section($shadow-color);

    height: 100vh;
    
    .projects__carousel__frontend {
        height: 100vh;
        display: flex;
        flex-flow: column;

        &__button--close {
            flex: 0 1 50px;
        }

        &__wrapper {
            flex: 1 1 auto;
            &__content {
                background-color: $more-transparent-white;
                width: 100%;
                border: 1px solid red;
            }
        }
    }
}

@media screen and (max-width:$max-width) and (max-height:$max-height) {
    div.js-open-projc-frontend {
        height: 500px;
    }
    
    div.js-open-projc-frontend section.projects__carousel__frontend {
        height: 500px;
    }
}