/* Projects */

.projects {
    @include section($dark-grey-blue);
    @include background-cover(bottom, $background-image--cropped);
    
    height: 80vh;
    
    display: flex;
    flex-flow: column;
    
    h1 {
        @include title;
        //border: 3px solid purple;
        flex: 0 1 142px;
        
        /********************
            flex-grow: 0,
            flex-shrink: 1,
            flex-basis: 182px
        *********************/
    }
    
    .flex-box {
        flex: 1 1 auto;
        @include flex-box-center;
        border: 1px solid blue;
    }
    
    &__content {
        line-height: 1.1em;
        font-size: 1.1em;
        width: 100%;
        
        border: 1px solid red;
        
        span {
            display: inline-block;
            padding: 10px;
            cursor: pointer;
            border: 2px solid $main-black;
            background-color: $more-transparent-white;
            
            @include transition-color-background-color;
        }
        
        span:hover {
            background-color: $transparent-pale-yellow;
            color: $main-black;
        }
    }
}

@media screen and (max-width:$max-width) {
    section.projects {
        height: 100vh;
    }
    
    section.projects div.projects__content div.projects__content__item {
        padding: 10px;
    }
}