/* Footer */

.footer {
    @include flex-box-center;
    @include background-cover(bottom, $background-image--cropped2);
    color: $main-white;
    height: 100px;
    
    span {
        text-align: center;
        padding: 10px;
    }
}