/* Footer */

.footer {
    @include section($dark-grey-blue);
    @include flex-box-center;
    @include background-cover(bottom, $background-image--cropped2);
    color: $main-white;
    height: $footer-height;
}

@media screen and (max-width: $max-width) {
    section.footer {
        height: $footer-height-mobile;
    }
}