/* Header */

.header {
    position: fixed;
    z-index: 90;
    width: 100%;
	height: 70px;
	padding: 10px;
    font-size: $header__font-size;
    line-height: $header-height;
    
    transition: all 300ms;
	
	&__author {
		font: {
			family: Noto serif, serif;
			weight: 400;
			size: 2em;
		}
		line-height: 1em;
		color: $main-white;
		padding: 0 15px;
		text-decoration: none;
		
		@media(max-width:$max-width) {
			display: none;
		}
	}
	
	&__nav--toggle {
		float: right;
		display: none;
		
		@media(max-width:$max-width) {
			display: block;
		}
	}
	
	&__menu {
		float: right;

		@media(max-width:$max-width) {
			background-color: $transp-green;
			width: 100%;
			display: none;
		}
	}
	
	&__links {
		padding-right: 7px;
	}
	
	&__link {
		display: inline;
		margin: 0 5px;
		padding: 10px;

		a {
			text-decoration: none;
			color: $main-white;
			border-bottom: solid 2px transparent;

			transition: 300ms;
			
			&:hover, &:active {
				color: $main-white;
				border-bottom: solid 2px $main-white;
			}

		}

		@media(max-width:$max-width) {
			display: block;
			text-align: right;
			padding: 0 5px 0 0;
		}
	}
	
	&__home {
		display: none;
		@media(max-width:$max-width) {
			display: block;
		}
	}
	
	&__github {
		font-size: 14px;
		text-align: center;
		padding: 0;

		a:hover {
			border-bottom: solid 2px transparent;
		}

		@media(max-width:$max-width) {
			display: block;
			text-align: right;
			padding: 0 5px 0 0;
		}
	}
}