/* Header */

.header {
    position: fixed;
    z-index: 99;
    width: 100%;
    height: $header-height;
    background-color: $main-white;
    font-size: $header__font-size;
    line-height: $header-height;
    
    transition: box-shadow 300ms;
    -webkit-transition: box-shadow 300ms;
    -moz-transition: box-shadow 300ms;
        
    .header__nav {
        a.header__nav__author {
            font: {
                family: Noto serif, serif;
                weight: 400;
                size: 26px;
            }
            color: $main-black;
            width: 200px;
            float: left;
            padding: 0 7px 0 7px;
            
            text : {
                align: center;
                decoration: none;
            }
            
            @include transition-color-background-color;
        }
        
        a.header__nav__author:hover {
            color: $main-white;
            background-color: $main-black;
        }

        a.header__nav__author:active {
            background-color: $main-white;
            color: $main-black;
        }
        
        .header__nav--toggle {
            float: right;
            display: none;
        }
        
        &__menu {
            float: right;

            ul {
                
                padding-right: 7px;

                li {
                    display: inline;
                    margin: 0 5px;
                    padding: 10px;

                    a {
                        text-decoration: none;
                        color: $main-black;
                        border-bottom: solid 2px transparent;
                        
                        transition: 300ms;
                        -webkit-transition: 300ms;
                        -moz-transition: 300ms;
                        
                    }
                    a:hover {
                        border-bottom: solid 2px $main-black;
                    }
                    a:active {
                        background-color: $main-white;
                        color: $main-black;
                    }
                }
            }
        }
    }    
}

@media screen and (max-width:$max-width) {
    .header div.header__nav__menu {
        background-color: $transparent-white;
        width: 100%;
        display: none;
    }
    
    .header__nav__menu ul.header__nav__menu__links li {
        display: block;
        text-align: right;
        padding: 0 5px 0 0;
    }
    
    .header nav.header__nav button.header__nav--toggle {
        display: block;
    }
}