/* Header */

.header {
    position: fixed;
    z-index: 90;
    width: 100%;
	height: 70px;
	padding: 10px;
    font-size: $header__font-size;
    line-height: $header-height;
    
    transition: all 300ms;
	
	&__author {
		display: none;
		
//		font: {
//			family: Noto serif, serif;
//			weight: 400;
//			size: 26px;
//		}
//		color: $main-black;
//		width: 200px;
//		float: left;
//		padding: 0 7px 0 7px;
//
//		text : {
//			align: center;
//			decoration: none;
//		}
//
//		@include transition-color-background-color;
//		
//		&:hover {
//			color: $main-white;
//			background-color: $main-black;
//		}
//		
//		&:active {
//			background-color: $main-white;
//			color: $main-black;
//		}
	}
	
	&__nav--toggle {
		float: right;
		display: none;

		@media(max-width:$max-width) {
			display: block;
		}
	}
	
	&__menu {
		float: right;

		ul {

			padding-right: 7px;

			li {
				display: inline;
				margin: 0 5px;
				padding: 10px;

				a {
					text-decoration: none;
					//color: $main-black;
					color: $main-white;
					border-bottom: solid 2px transparent;

					transition: 300ms;

				}
				a:hover {
					border-bottom: solid 2px $main-white;
				}
				a:active {
					color: $main-white;
				}

				@media(max-width:$max-width) {
					display: block;
					text-align: right;
					padding: 0 5px 0 0;
					
					color: $main-black;
					
					a:hover {
						border-bottom: solid 2px $main-white;
					}
					a:active {
						color: $main-white;
					}
				}
			}

			li.header__github {
				font-size: 14px;
				text-align: center;
				padding: 0;

				a:hover {
					border-bottom: solid 2px transparent;
				}

				@media(max-width:$max-width) {
					display: block;
					text-align: right;
					padding: 0 5px 0 0;
				}
			}
		}

		@media(max-width:$max-width) {
			background-color: $transp-green;
			width: 100%;
			display: none;
		}
	}   
}