.carousel {
  visibility: hidden;
  position: fixed;
  z-index: 99;
  width: 80%;
  max-width: 950px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 400ms ease-in-out;

  @media(max-width:$max-width) {
    width: 90%;
    max-width: 600px;
  }

  &__content-text {
    line-height: 1.2em;
    padding: 20px 15px 5px;
    width: 100%;
    @include clearfix;

    @media(min-width:$max-width) {
      padding: 10px 20px 15px 45px;
      width: 500px;
    }
  }

  &__content-image {
    padding: 10px;

    @media(min-width:$max-width) {
      padding: 30px 40px;
    }
  }

  &__only-text {
    line-height: 1.6em;
    padding: 25px 30px;

    h2 {
      font-family: 'Noto serif', serif;
      font-size: 2.3em;
      line-height: 1em;
      margin-bottom: .7em;
      text-align: center;

      @media(min-width:$max-width) {
        font-size: 2.6em;
      }
    }
    p {
      font-size: 1.4em;
      padding-bottom: 10px;
      text-align: left;

      @media(min-width:$max-width) {
        text-align: justify;
        text-indent: 50px;
      }
    }

    @media(min-width:$max-width) {
      padding: 25px 60px;
    }
  }

  &__flex {
    align-items: center;
    flex-direction: column;
    display: flex;

    @media(min-width:$max-width) {
      flex-direction: row;
      min-height: 600px;
    }
  }

  &__p {
    margin-bottom: .5em;
  }

  &__slide {
    background-color: $main-white;
    border-radius: 3px;
    font-size: 1.3em;

    @media(max-width:$max-width) {
      font-size: 1em;
    }

    &:focus {
      outline: none;
    }
  }

  &__title {
    font-family: 'Noto serif', serif;
    font-size: 2.3em;
    line-height: .7em;
    margin-bottom: .7em;

    @media(max-width:$max-width) {
      display: inline-block;
      font-size: 1em;
    }
  }

  &__btn {
    border-bottom: 2px solid $main-black;
    color: $main-black;
    display: inline-block;
    padding-bottom: .1em;
    padding-top: 1.2em;
    text-decoration: none;
    font-weight: 400;

    @media(max-width:$max-width) {
      display: inline-block;
      border: none;
      bottom: 2px;
      font-size: .7em;
      float: right;
      padding: 0;
      position: relative;
    }
  }

  .mobile-show {
    display: none;
  }

  @media(max-width:$max-width) {
    .mobile-hide, p.mobile-hide {
      display: none;
    }

    .mobile-show {
      display: inline;
    }
  }
}

.carousel-background {
  visibility: hidden;
  position: fixed;
  top: 0;
  z-index: 90;
  background-color: $dark-shadow;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 500ms ease-in-out;
}

.visible {
  visibility: visible;
  opacity: 1;
}
